<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mofei.tau">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="io.taucoin.android.wallet.MyApplication"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:theme="@style/AppTheme"
        android:allowBackup="false"
        android:supportsRtl="false"
        tools:replace="android:allowBackup, android:supportsRtl"
        tools:ignore="GoogleAppIndexingWarning">
       　
        <activity
            android:name="io.taucoin.android.wallet.module.view.SplashActivity"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       　
        <activity
            android:name="com.tau.activity.SendAndReceiveActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.tau.activity.DetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity android:name="com.tau.activity.BaseActivity" />
        <activity android:name="com.tau.activity.TextActivity" />
        <activity android:name="com.tau.activity.RegisterActivity" />
        <activity android:name="com.tau.activity.LoginActivity2" />
        <activity
            android:name="com.tau.activity.ChangePasswActivity"
            android:label="@string/title_activity_change_passw"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.tau.activity.AboutActivity" />
        <activity android:name="com.tau.activity.HistoryTransationActivity" />
        <activity android:name="com.tau.activity.ExhibitTXActivity" />
        <activity android:name="com.tau.activity.ExhibitUTXOActivity"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9f48df0306d5e440ef9e9386600379da6134f3a0" />
    </application>

</manifest>