<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mofei.tau">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
       　
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
       　
        <activity
            android:name=".activity.SendAndReceiveActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.DetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.TextActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.LoginActivity2" />
        <activity
            android:name=".activity.ChangePasswActivity"
            android:label="@string/title_activity_change_passw"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.HistoryTransationActivity" />
        <activity android:name=".activity.ExhibitTXActivity" />
        <activity android:name=".activity.ExhibitUTXOActivity"></activity>
    </application>

</manifest>